/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "lily58.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

&sh1107 {
    compatible = "solomon,sh1107fb";
    label = "SH1107";
    width = <64>;
    height = <128>;
    segment-offset = <0>;
    page-offset = <0>;
    display-offset = <0>;
    multiplex-ratio = <127>;
    reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
    i2c-max-frequency = <400000>;
    i2c-scl-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
    i2c-sda-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
};
